{% extends 'base.html' %}

{% block title %} <title>Home</title> {% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h1>TODO list</h1>
      </div>
      <div class="col-lg-2">
        <a class="btn btn-info" href="{% url 'to_do:task-create' %}">Create</a>
      </div>
    </div>

    {% for task in task_list %}
      <div class="card">
        <div class="card-body">
          <h2>{{ task.content }}
            {% if task.status %}
              <span class="text-success">Done</span>
            {% else %}
              <span class="text-danger">Not done</span>
            {% endif %}
          </h2>

          <p>
            Created: <i>{{ task.created_date }}</i>
            {% if task.status %}
              <span class="text-danger">Deadline: <i>{{ task.deadline_date }}</i></span>
            {% endif %}
          </p>
          <div class="text-muted">
            {% if task.tags.all %}
              <ul class="list-inline">
                <li class="list-inline-item">Tags:</li>
                {% for tag in task.tags.all %}
                  <li class="list-inline-item">{{ tag.name }}</li>
                {% endfor %}
              </ul>
            {% else %}
              no tags!
            {% endif %}
          </div>

        </div>
      </div>
    {% endfor %}

  </div>
{% endblock %}
